@model DBModel.Motherboard

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Motherboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherboardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherboardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PCISlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCISlots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Connectors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Connectors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemorySlots)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemorySlots)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
