@model IEnumerable<DBModel.Build>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <Title>PCBuilda</Title>
    <!--        this is for the icon beside the title and the css-->
    <link rel="shortcut icon" type="image/x-icon" href="../../../Content/images/webicon.png" />
    <link rel="stylesheet" type="text/css" href="../../../Content/browseBuild.css" />
    <!--        this gets the fonts-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <!--        this is for the nav bars-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--        For the side navigation menu-->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
        }
    </script>
</head>

<body id="main">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PCBuilder</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a class="active" href="../../Home/Index">Home</a></li>
                    <li>@Html.ActionLink("Create Build","Create", "Builds")</li>
                    <li>@Html.ActionLink("Browse Builds", "Index", "Builds")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">BrowseParts<span class="caret"></span></a>
                        <ul class="dropdown-menu" id="dropMenu">
                            <li><a href="../../Processors/Index">CPU</a></li>
                            <li><a href="../../Motherboards/Index">Motherboard</a></li>
                            <li><a href="../../RAMs/Index">Memory</a></li>
                            <li><a href="../../HardDrives/Index">Storage</a></li>
                            <li><a href="../../GraphicsCards/Index">Video Card</a></li>
                            <li><a href="../../PowerSupplies/Index">Power Supply</a></li>
                            <li><a href="../../Cases/Index">Case</a></li>
                            <li><a href="../../Monitors/Index">Monitors</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Register.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="Login.cshtml">Login</a>
        <a href="Register.cshtml">Register</a>
        <a>@Html.ActionLink("Create Build","Create", "Builds") </a>
        <a href="browseBuild.cshtml">Browse Builds</a>
        <a href="browseParts.cshtml">Browse Parts</a>
        <a href="currentBuild.cshtml">Current Build</a>

    </div>
    <span id="spaner" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

    <aside id="sideMenu">
        <table>
            <tr>
                <td id="title">
                    Filters
                </td>
            </tr>
            <tr>
                <td>
                    Price Range
                </td>
            </tr>
            <tr>
                <td>
                    <input type="range" name="points" min="0" max="100000">
                </td>
            </tr>
            <tr>
                <td>
                    Build Type
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox value="Gaming Build">Gaming Builds
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox value="Business Builds">Business Builds
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox value="Personal Builds">Personal Builds
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox value="Home Office">Home Office Builds
                </td>
            </tr>

            <tr>
                <td>
                    Parts
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Monitor
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Case
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>CPU
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>CPU Cooler
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Motherboard
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Cards
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Operating System
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Storage
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>External Storage
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Periphials
                </td>
            </tr>
            <tr>
                <td>
                    <input type=checkbox>Accessories
                </td>
            </tr>
        </table>
    </aside>

    <section id="rightSide">


        <table id="displayBuild">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BuildName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                
            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                </tr>
            }
            </table>

            @*<table id="displayBuild">
                <tr><th>Component</th></tr>
                <tr><td>Part 1</td><td class="wideTablecell">Part 2</td></tr>
                <tr><td>Part 1</td><td class="wideTablecell">Part 2</td></tr>
                <tr><td>Part 1</td><td class="wideTablecell">Part 2</td></tr>

            </table>
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a class="active" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
            </ul>*@
</section>

    <footer>
        Copyright © PCBuilder.com
    </footer>

</body>

</html>










@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuildName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuildName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuildId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuildId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuildId })
        </td>
    </tr>
}

</table>*@
